<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="accent" class="material-symbols-outlined">
        fact_check
      </mat-icon>
    </div>
    <mat-card-subtitle>Assistant</mat-card-subtitle>
    <mat-card-title>Policies Controls & Procedures</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Introducing our ChatGPT-Powered Assistant: Your Trusted Compliance Partner
    </p>
    <p>
      Our ChatGPT-powered assistant offers guidance on Anti-Money Laundering
      (AML) policies and procedures. With its advanced capabilities, it
      streamlines due diligence processes and interprets complex regulations,
      empowering compliance professionals to make informed decisions
      efficiently. Supported by robust controls, our assistant is your trusted
      ally in maintaining compliance excellence.
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-flat-button (click)="openAssistant()">
      <span id="btn_txt">USE</span>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  </mat-card-footer>
</mat-card>
