<div class="bottom-sheet-container">
  <div class="bottom-sheet-header">
    <div class="bottom-sheet-title">Forgot password</div>
    <div class="bottom-sheet-subtitle">No worries, we've got your back.</div>
  </div>
  <div class="bottom-sheet-content">
    <form
      class="forgot-password-content-form"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="sendForgotPasswordEmail()"
    >
      <app-form-field
        [control]="forgotPasswordForm.controls['email']"
        label="Email"
        appearance="outline"
        [errors]="{ required: 'Email is required', email: 'Invalid email' }"
        placeholder="Enter your email address"
      ></app-form-field>
      <button
        [disabled]="loading"
        mat-raised-button
        color="primary"
        class="forgot-password-form-button button"
        type="submit"
      >
        Send reset link
      </button>
      @if(loading){<app-progress-bar></app-progress-bar>}
    </form>
    <div class="forgot-password-buttons">
      <div class="forgot-password-actions">
        <div class="action-btn">
          <button
            [disabled]="loading"
            mat-button
            class="action-btn-link"
            color="primary"
            type="button"
            (click)="openLoginBottomSheet()"
          >
            Log in
          </button>
        </div>
      </div>
      <button mat-flat-button type="button" (click)="closeBottomSheet($event)">
        Close
      </button>
    </div>
  </div>
</div>
