<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-subtitle>Assistant</mat-card-subtitle>
    <mat-card-title>EU AML Regulation</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Introducing Our EU AML Regulation Assistant: Your Compliance Companion
    </p>
    <p>
      Our EU AML Regulation Assistant is your go-to resource for navigating the
      complexities of European Union Anti-Money Laundering (AML) regulations.
      Powered by ChatGPT, it offers guidance on compliance procedures, helping
      streamline due diligence processes and interpret intricate regulations
      with ease. With its advanced capabilities, this assistant empowers
      compliance professionals to make informed decisions efficiently while
      ensuring adherence to EU AML directives. Backed by robust controls, it
      stands as your trusted companion in maintaining compliance excellence
      within the European Union regulatory framework.
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="openAssistant()" color="primary" mat-flat-button>
      <span id="btn_txt">USE</span>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  </mat-card-footer>
</mat-card>
