<mat-drawer-container class="container" autosize [hasBackdrop]="false">
  <mat-drawer
    #drawer
    class="sidenav"
    mode="over"
    [disableClose]="false"
    [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
  >
    <div class="sidenav-header">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        [ngStyle]="{ marginTop: '.5rem', marginLeft: '.5rem' }"
      >
        <mat-icon>close</mat-icon>
      </button>
      <app-signature
        [ngStyle]="{ marginTop: '.5rem', marginLeft: '1rem' }"
        height="50px"
      ></app-signature>
    </div>
    <app-selection-list></app-selection-list>
  </mat-drawer>
  <div class="sidenav-content">
    <app-toolbar
      [isSmallScreen$]="isSmallScreen$"
      [drawer]="drawer"
    ></app-toolbar>
    <router-outlet />
    <button
      (click)="toggleChatBotDialog()"
      mat-fab
      color="accent"
      aria-label="Example icon button with a filter list icon"
      class="bottom-right-button"
    >
      <mat-icon class="material-symbols-rounded">{{
        !isChatBotDialogOpen ? "comment" : "close"
      }}</mat-icon>
    </button>
  </div>
</mat-drawer-container>
