.container {
  height: 100%;
  background-color: var(--white);
  font-family: "Nunito", sans-serif;
  .sidenav {
    width: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    .sidenav-header {
      display: flex;
      flex-direction: row;
      height: 10%;
    }
  }
}
.bottom-right-button {
  position: fixed;
  @media screen and (max-width: 768px) {
    right: 20px;
    bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    right: 40px;
    bottom: 30px;
  }
}
.menu_container {
  min-width: 300px;
  min-height: 400px;
}
