<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Logs</mat-card-title>
    <mat-card-subtitle
      >Insight into Operations: Exploring the Logs Repository</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <app-logs-tab-group
      [activityLogs]="activityLogs"
      [errorLogs]="errorLogs"
    ></app-logs-tab-group>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
  <mat-card-footer>
    @if(loading){
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    }
  </mat-card-footer>
</mat-card>
