.toolbar {
  position: fixed; // Add this line
  top: 0;
  background-color: var(--white);
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  z-index: 1000;
}
.spacer {
  flex: 1 1 auto;
}
