footer {
  background-color: var(--darkBlue);
  height: 200px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  p {
    color: var(--white);
    text-align: center;
    padding-top: 50px;
    font-size: 1.4em;
    font-family: "Nunito", sans-serif;
    button {
      font-family: "Nunito", sans-serif;
      color: var(--white);
      font-size: 1.2em;
      .btn_content {
        display: flex;
        flex-direction: row;
        #logo {
          height: 26px;
          width: auto;
          margin-right: 0.4rem;
        }
        #txt {
          text-decoration: underline;
          align-self: center;
        }
      }
    }
  }
}
