<div class="bottom-sheet-container">
  <div class="bottom-sheet-header">
    <div class="bottom-sheet-title">Log in</div>
    <!-- <div class="bottom-sheet-subtitle">Please login to your account</div> -->
  </div>
  <div class="bottom-sheet-content">
    <form class="login-content-form" [formGroup]="loginForm">
      <app-form-field
        [control]="loginForm.controls['email']"
        label="Email"
        appearance="outline"
        [errors]="{ required: 'Email is required' }"
        placeholder="Enter your email address"
      ></app-form-field>
      <app-form-field
        appearance="outline"
        [control]="loginForm.controls['password']"
        label="Password"
        type="password"
        [showPasswordVisibility]="true"
        [errors]="{ required: 'Password is required' }"
        placeholder="Enter your password"
      ></app-form-field>
      <button
        mat-raised-button
        color="primary"
        class="login-form-button button"
        type="submit"
      >
        Login
      </button>
    </form>
    <div class="login-buttons">
      <div class="login-actions">
        <div class="action-btn">
          <button
            mat-button
            class="action-btn-link"
            color="primary"
            (click)="openForgotPasswordBottomSheet()"
          >
            Forgot password?
          </button>
        </div>
        <div class="action-btn">
          <button
            mat-button
            class="action-btn-link"
            color="primary"
            (click)="openRegisterBottomSheet()"
          >
            Create account
          </button>
        </div>
      </div>
      <button mat-flat-button type="button" (click)="closeBottomSheet($event)">
        Close
      </button>
    </div>
  </div>
</div>
