.login-actions {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  .action-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    .action-btn-link {
      text-decoration: underline;
      width: fit-content;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
.login-form-button {
  //margin-top: 1rem;
}
