<div class="bottom-sheet-container">
  <div class="bottom-sheet-header">
    <div class="bottom-sheet-title">Log in</div>
    <div class="bottom-sheet-subtitle">Welcome back, let's get started.</div>
  </div>
  <div class="bottom-sheet-content">
    <form
      class="login-content-form"
      [formGroup]="loginForm"
      (ngSubmit)="authenticate()"
    >
      <app-form-field
        [autocomplete]="true"
        [control]="loginForm.controls['email']"
        label="Email"
        appearance="outline"
        [errors]="{ required: 'Email is required' }"
        placeholder="Enter your email address"
      ></app-form-field>
      <app-form-field
        [autocomplete]="true"
        appearance="outline"
        [control]="loginForm.controls['password']"
        label="Password"
        type="password"
        [showPasswordVisibility]="true"
        [errors]="{ required: 'Password is required' }"
        placeholder="Enter your password"
      ></app-form-field>
      <button
        [disabled]="loading"
        mat-raised-button
        color="primary"
        class="login-form-button button"
        type="submit"
      >
        Log in
      </button>
      @if(loading){<app-progress-bar></app-progress-bar>}
    </form>
    <div class="login-buttons">
      <div class="login-actions">
        <div class="action-btn">
          <button
            mat-button
            [disabled]="loading"
            class="action-btn-link"
            color="primary"
            type="button"
            (click)="openForgotPasswordBottomSheet()"
          >
            Forgot password?
          </button>
        </div>
        <div class="action-btn">
          <button
            mat-button
            [disabled]="loading"
            class="action-btn-link"
            color="primary"
            type="button"
            (click)="openRegisterBottomSheet()"
          >
            Create account
          </button>
        </div>
      </div>
      <button mat-flat-button type="button" (click)="closeBottomSheet($event)">
        Close
      </button>
    </div>
  </div>
</div>
