<div class="container">
  <header class="header">
    <div class="title" appFadeIn>Welcome to the AI Assistants</div>
    <div class="subtitle" appFadeIn>
      Discover our AI-driven compliance chat assistants, leveraging the advanced
      capabilities of OpenAI's ChatGPT engine.
    </div>
  </header>
  <section class="content">
    <div class="assistant_container" appViewportAnimation>
      <app-assistant-pcp-card></app-assistant-pcp-card>
      <div class="spacer"></div>
      <app-assistant-eu-reg-card></app-assistant-eu-reg-card>
    </div>
  </section>
</div>
