<div class="container">
  <div class="content">
    <div class="img_container">
      <img
        src="assets/images/lock.png"
        alt="Reset Password"
        oncontextmenu="return false;"
      />
    </div>
    <div class="header">
      <div class="title">Reset Password</div>
      <div class="subtitle">
        Reset your password by entering a new one below. Thank you!
      </div>
    </div>

    @if (form){
    <form [formGroup]="form" (ngSubmit)="submit()">
      <app-form-field
        [type]="'password'"
        [showPasswordVisibility]="true"
        [placeholder]="'New Password'"
        label="New Password"
        [control]="form.controls['password']"
        [errors]="{
            required: 'Password is required',
            minlength: 'Password must be at least 6 characters long',
        }"
      ></app-form-field>
      <app-form-field
        [type]="'password'"
        [showPasswordVisibility]="true"
        [placeholder]="'Confirm Password'"
        label="Confirm Password"
        [control]="form.controls['confirmPassword']"
        [errors]="{
            required: 'Password is required',
            minlength: 'Password must be at least 6 characters long',
            passwordMatch: 'Passwords do not match',
        }"
      ></app-form-field>
      <button
        [disabled]="loading"
        color="primary"
        mat-raised-button
        type="submit"
      >
        {{
          loading
            ? "Resetting Password..."
            : validated
            ? "LOG IN"
            : "Reset Password"
        }}
      </button>
      @if (loading) {
      <app-progress-bar></app-progress-bar>
      }
    </form>
    }
  </div>
</div>
