<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Accounts</mat-card-title>
    <mat-card-subtitle
      >Empowering Users: Insights into Account Details</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <app-accounts-table
      [isAdmin$]="isAdmin$"
      [accounts]="accounts"
    ></app-accounts-table>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="btn"
      color="primary"
      [disabled]="!(isAdmin$ | async)"
      mat-stroked-button
      type="button"
      (click)="createAccount()"
    >
      <mat-icon class="material-symbols-outlined">person_add</mat-icon>Create
      Account
    </button>
  </mat-card-actions>
  <mat-card-footer>
    @if(!(loading$|async)){
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    }
  </mat-card-footer>
</mat-card>
