<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="avatar">
      <mat-icon color="accent" class="material-symbols-outlined"
        >settings</mat-icon
      >
    </div>
    <mat-card-title>System</mat-card-title>
    <mat-card-subtitle
      >Empowering Users: Insights into System Details</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <app-accounts-tab-group
      [accounts]="accounts"
      [isAdmin$]="isAdmin$"
    ></app-accounts-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button
      color="primary"
      [disabled]="!(isAdmin$ | async)"
      mat-stroked-button
      type="button"
      (click)="createAccount()"
    >
      <mat-icon class="material-symbols-outlined">person_add</mat-icon>Create
      Account
    </button>
  </mat-card-actions>
  <mat-card-footer>
    @if(!(loading$|async)){
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    }
  </mat-card-footer>
</mat-card>
