<div class="bottom-sheet-container">
  <div class="bottom-sheet-header">
    <img class="logo-img" src="../../../assets/images/logo.png" />
    <div class="bottom-sheet-title">Settings</div>
    <div class="bottom-sheet-subtitle">No worries, we've got your back.</div>
  </div>
  <div class="bottom-sheet-content">
    <form class="account-content-form"></form>
    <div class="account-buttons">
      <button mat-flat-button type="button" (click)="closeBottomSheet($event)">
        Close
      </button>
    </div>
  </div>
</div>
