.container {
  @media screen and (max-width: 768px) {
    height: 400px;
    padding: 5px;
  }
  @media screen and (min-width: 768px) {
    width: 400px;
    height: 600px;
    padding: 10px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .actions {
    display: flex;
    flex-direction: row;
    mat-icon {
      font-size: 22px;
      height: auto;
      width: auto;
      align-self: center;
    }
    span {
      align-self: center;
    }
  }
}
.btn_con {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
