.container {
  padding: 10px;
  @media screen and (max-width: 600px) {
  }
  @media screen and (min-width: 600px) {
    width: 400px;
  }

  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  .actions {
    display: flex;
    justify-content: space-between;
    mat-icon {
      font-size: 22px;
      height: auto;
      width: auto;
      align-self: center;
    }
    span {
      align-self: center;
    }
  }
}
.btn_con {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
