<div class="container">
  <div>
    <mat-selection-list class="selection-list">
      <mat-list-item class="mat-list-item" (click)="openLoginBottomSheet()"
        ><mat-icon matListItemIcon class="material-symbols-rounded">
          login</mat-icon
        ><span>Log in</span></mat-list-item
      >
      <mat-list-item class="mat-list-item" (click)="openRegisterBottomSheet()"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          person_add</mat-icon
        ><span>Register</span></mat-list-item
      >
      <mat-list-item
        class="mat-list-item"
        disabled
        [matTooltip]="getTooltipText()"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          space_dashboard</mat-icon
        ><span>Dashboard</span></mat-list-item
      >
      <mat-list-item
        class="mat-list-item"
        disabled
        [matTooltip]="getTooltipText()"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          robot_2</mat-icon
        ><span>AML Assistant</span></mat-list-item
      >
    </mat-selection-list>
  </div>
  <div>
    <mat-divider [ngStyle]="{ opacity: '.6' }"></mat-divider>
    <mat-selection-list class="selection-list-footer">
      <mat-list-item class="mat-list-item" [matMenuTriggerFor]="documentsMenu"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          library_books</mat-icon
        ><span>Documentation</span></mat-list-item
      >
      <mat-list-item
        class="mat-list-item-settings"
        disabled
        [matTooltip]="getTooltipText()"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          settings</mat-icon
        ><span>Settings</span></mat-list-item
      >
      <mat-list-item
        class="mat-list-item-settings"
        disabled
        [matTooltip]="getTooltipText()"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          account_circle</mat-icon
        ><span>Account</span></mat-list-item
      >
    </mat-selection-list>
  </div>
</div>

<!-- TODO Create sub component -->
<ng-container>
  <mat-menu #documentsMenu="matMenu" xPosition="after" class="menu">
    <button mat-menu-item (click)="navigateToGithub()">
      <mat-icon [ngStyle]="{ marginTop: '-.4rem' }"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></mat-icon>
      <span>Github</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="apiDocumentation">
      <mat-icon class="material-symbols-outlined">hub</mat-icon>
      <span>API Documentation</span>
    </button>
  </mat-menu>
</ng-container>

<mat-menu #apiDocumentation="matMenu">
  <button mat-menu-item>
    <mat-icon class="material-symbols-outlined">data_object</mat-icon
    ><span>Swagger Docs</span>
  </button>
</mat-menu>
