@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(90% - 0.5rem);
  width: 90%;
  margin-left: 1rem;
  .selection-list,
  .selection-list-footer {
    .mat-list-item {
      @media screen and (min-width: 600px) {
        height: 3rem;
      }
      @media screen and (max-width: 600px) {
        height: 2rem;
      }
    }
  }
}
