<div class="container">
  <div>
    <mat-selection-list class="selection-list">
      @if(!isAuthenticated){
      <mat-list-item
        [disabled]="!isApiConnected"
        class="mat-list-item"
        (click)="isApiConnected ? openLoginBottomSheet() : null"
        matTooltipPosition="right"
        [matTooltip]="
          !isApiConnected
            ? getTooltipText('Unable to log in, connection to the API failed.')
            : ''
        "
        ><mat-icon matListItemIcon class="material-symbols-rounded">
          login</mat-icon
        ><span>Log In</span></mat-list-item
      >
      <mat-list-item
        [disabled]="!isApiConnected"
        matTooltipPosition="right"
        [matTooltip]="
          !isApiConnected
            ? getTooltipText(
                'Unable to create account, connection to the API failed.'
              )
            : ''
        "
        class="mat-list-item"
        (click)="isApiConnected ? openRegisterBottomSheet() : null"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          person_add</mat-icon
        ><span>Create Account</span></mat-list-item
      ><mat-divider
        [ngStyle]="{ opacity: '.6', marginBottom: '.5rem', marginTop: '.5rem' }"
      ></mat-divider
      >}
      <mat-list-item
        class="mat-list-item"
        [disabled]="!isAuthenticated"
        matTooltipPosition="right"
        [routerLink]="isAuthenticated ? ['/dashboard'] : null"
        [matTooltip]="getTooltipText(undefined, isAuthenticated)"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          space_dashboard</mat-icon
        ><span>Dashboard</span></mat-list-item
      >
      <!-- <mat-list-item
        class="mat-list-item"
        [disabled]="!isAuthenticated"
        matTooltipPosition="right"
        [routerLink]="isAuthenticated ? ['/assistants'] : null"
        [matTooltip]="getTooltipText(undefined, isAuthenticated)"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          robot_2</mat-icon
        ><span>AI Assistants</span></mat-list-item
      >
      <mat-list-item class="mat-list-item" [routerLink]="['/snake']"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          conversion_path</mat-icon
        ><span>Snake</span></mat-list-item
      > -->
    </mat-selection-list>
  </div>
  <div>
    <mat-divider [ngStyle]="{ opacity: '.6' }"></mat-divider>
    <mat-selection-list class="selection-list-footer">
      <mat-list-item class="mat-list-item" [matMenuTriggerFor]="documentsMenu"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          library_books</mat-icon
        ><span>Documentation</span></mat-list-item
      >
      <mat-list-item
        class="mat-list-item"
        (click)="isApiConnected ? openContactBottomSheet() : null"
        [disabled]="!isApiConnected"
        matTooltipPosition="right"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          contact_support</mat-icon
        ><span>Contact</span></mat-list-item
      >
      <mat-list-item
        class="mat-list-item"
        (click)="
          isApiConnected && isAuthenticated ? openAccountBottomSheet() : null
        "
        [disabled]="!isAuthenticated"
        matTooltipPosition="right"
        [matTooltip]="getTooltipText(undefined, isAuthenticated)"
        ><mat-icon matListItemIcon class="material-symbols-outlined">
          account_circle</mat-icon
        ><span>Account</span></mat-list-item
      >
      @if((isAuthenticated)) {
      <mat-divider
        [ngStyle]="{ opacity: '.6', marginBottom: '.5rem', marginTop: '.5rem' }"
      ></mat-divider>
      <mat-list-item class="mat-list-item" (click)="logout()"
        ><mat-icon matListItemIcon class="material-symbols-rounded">
          logout</mat-icon
        ><span>Log Out</span></mat-list-item
      >
      }
    </mat-selection-list>
  </div>
</div>

<!-- TODO Create sub component -->
<ng-container>
  <mat-menu #documentsMenu="matMenu" xPosition="after" class="menu">
    <button mat-menu-item [matMenuTriggerFor]="gitHubDocumentation">
      <mat-icon [ngStyle]="{ marginTop: '-.4rem' }"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></mat-icon>
      <span>Github</span>
    </button>
    <button
      mat-menu-item
      (click)="navigateToWebsite('swagger')"
      matTooltipPosition="right"
      [matTooltip]="
        getTooltipText(
          'Navigate to the Swagger API Page Linked to this Website.'
        )
      "
    >
      <mat-icon class="material-symbols-outlined">data_object</mat-icon
      ><span>Swagger</span>
    </button>
  </mat-menu>
</ng-container>

<mat-menu #gitHubDocumentation="matMenu">
  <button
    mat-menu-item
    (click)="navigateToWebsite('ui')"
    matTooltipPosition="right"
    [matTooltip]="
      getTooltipText('Explore the GitHub Repository for this Website\'s UI.')
    "
  >
    <mat-icon class="material-symbols-outlined">web</mat-icon
    ><span>UI Repository</span>
  </button>
  <button
    mat-menu-item
    (click)="navigateToWebsite('api')"
    matTooltipPosition="right"
    [matTooltip]="
      getTooltipText(
        'Explore the GitHub Repository for this Website\'s Connected API.'
      )
    "
  >
    <mat-icon class="material-symbols-outlined">api</mat-icon
    ><span>API Repository</span>
  </button>
</mat-menu>
