/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
$my-primary: mat.define-palette(mat.$teal-palette, A700, A100, A200, A400);
$my-accent: mat.define-palette(mat.$cyan-palette, 900);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

:root {
  --primary-color: #{map-get(map-get($my-theme, color), primary, default)};
  --accent-color: #{map-get(map-get($my-theme, color), accent, default)};
  --warn-color: #{map-get(map-get($my-theme, color), warn, default)};
  --white: #fff;
  --darkBlue: #162836;
}

@include mat.all-component-themes($my-theme);

.mat-mdc-raised-button .mdc-button__label {
  color: var(--white);
  font-size: 1.2em;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bottom-sheet-container {
  @media screen and (max-width: 960px) {
    padding: 2rem 2rem 0;
    .bottom-sheet-header {
      .bottom-sheet-title {
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        padding-bottom: 2rem;
      }
      .bottom-sheet-subtitle {
        text-align: start;
        font-size: 1.2em;
        font-weight: 400;
        padding-bottom: 1.5rem;
      }
    }
  }
  @media screen and (min-width: 960px) {
    padding: 2rem 2rem 0;
    max-width: 540px;
    .bottom-sheet-header {
      .bottom-sheet-title {
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        padding-bottom: 2rem;
      }
      .bottom-sheet-subtitle {
        text-align: start;
        font-size: 1.2em;
        font-weight: 400;
        padding-bottom: 1.5rem;
      }
    }
  }
}

.mat-mdc-raised-button,
.mat-mdc-unelevated-button {
  width: 100%;
  min-height: 56px;
  .mdc-button__label {
    font-size: 1.2em;
  }
}
