<div class="home_content">
  <div class="header">
    <img
      appViewportAnimation
      class="header_logo"
      src="../../assets/images/about-image.jpg"
      oncontextmenu="return false;"
    />
    <div class="title" appViewportAnimation>About Me</div>
    <div class="subtitle">
      <span class="subtitle_txt" appViewportAnimation
        >I have over 4 years of experience in the software industry, working
        with diverse technologies and tools. I'm proficient in Angular and .NET
        Core, and have extensive experience with full stack development.</span
      >
    </div>
  </div>
  <div class="line_break" appViewportAnimation><div></div></div>
  <div class="content_primary">
    <div class="content_left">
      <div class="content_title" appViewportAnimation>My Background</div>
      <div class="content_text">
        <p appViewportAnimation>
          I have a first class honors Bachelor's degree in Computer Science from
          the Waterford Institute of Technology. I started my career
          as a Software Engineer at AML HQ, where I worked on the Software
          Development team. I worked my way up to senior full stack developer. I
          have experience working with small-scale distributed systems, and I'm
          passionate about building high-quality software.
        </p>
      </div>
    </div>
    <div class="content_right">
      <img
        appViewportAnimation
        class="logo"
        src="../../assets/images/about-image-light.jpg"
        oncontextmenu="return false;"
      />
    </div>
  </div>
  <div class="line_break" appViewportAnimation><div></div></div>
  <div class="content_accent">
    <div class="content_left">
      <img
        appViewportAnimation
        class="logo"
        src="../../assets/images/about-image-skills.jpg"
        oncontextmenu="return false;"
      />
    </div>
    <div class="content_right">
      <div class="content_title" appViewportAnimation>My Skills</div>
      <div class="content_text">
        <p appViewportAnimation>
          On the frontend, I harness the power of Angular to craft captivating
          user interfaces that seamlessly blend aesthetics with functionality.
          With a keen eye for design principles and user experience, I ensure
          that every pixel serves a purpose, delivering intuitive and visually
          stunning applications.
          <br /><br />
          On the backend, I orchestrate the magic using .NET Core, leveraging
          its robust framework to build scalable APIs and backend systems.
          Whether it's architecting complex databases, implementing business
          logic, or optimizing performance, I employ best practices and design
          patterns to ensure the reliability and efficiency of the backend
          infrastructure.
        </p>
      </div>
    </div>
  </div>
  <div class="line_break" appViewportAnimation><div></div></div>
  <div class="content_primary">
    <div class="content_left">
      <div class="content_title" appViewportAnimation>My Approach</div>
      <div class="content_text">
        <p appViewportAnimation>
          I'm a firm believer in the power of collaboration and communication. I
          work closely with stakeholders to understand their requirements and
          translate them into technical solutions. I'm a proactive problem
          solver, always looking for ways to optimize and improve the software
          development process. I'm committed to delivering high-quality software
          that meets the needs of the end user, and I'm always looking for ways
          to enhance my skills and stay up-to-date with the latest technologies.
        </p>
      </div>
    </div>
    <div class="content_right">
      <img
        appViewportAnimation
        class="logo"
        src="../../assets/images/about-image-approach.jpg"
        oncontextmenu="return false;"
      />
    </div>
  </div>
  <div class="line_break" appViewportAnimation><div></div></div>
  <div class="content_accent">
    <div class="content_left">
      <img
        appViewportAnimation
        class="logo"
        src="../../assets/images/about-image-learning.jpg"
        oncontextmenu="return false;"
      />
    </div>
    <div class="content_right">
      <div class="content_title" appViewportAnimation>
        Continuous Learning & Innovation
      </div>
      <div class="content_text">
        <p appViewportAnimation>
          As an advocate for perpetual learning and innovation, I am deeply
          committed to mastering Angular and .NET Core, pivotal technologies in
          modern software engineering. Through a multifaceted approach, I stay
          updated with the latest releases and advancements, exploring advanced
          concepts, engaging in hands-on projects, and embracing feedback for
          continuous improvement. In Angular, I delve into features like lazy
          loading, standalone components and reactive forms, while in .NET Core,
          I focus on core concepts, advanced topics like microservices, and
          integration with cloud services. I ensure that my expertise in both
          Angular and .NET Core remains at the forefront of innovation, driving
          excellence in software development.
        </p>
      </div>
    </div>
  </div>
  <div class="line_break" appViewportAnimation><div></div></div>
  <div class="footer">
    <img
      appViewportAnimation
      class="footer_logo"
      src="../../assets/images/about-image-contact.jpg"
      oncontextmenu="return false;"
    />
    <div appViewportAnimation class="title">Get In Touch</div>
    <div appViewportAnimation class="subtitle">
      <p>
        I'm eager to collaborate with individuals and organizations who share a
        passion for pushing the boundaries of software development. With
        expertise in Angular and .NET Core, I bring practical insights and a
        commitment to excellence to every project. From startups with bold ideas
        to established enterprises seeking innovation, I'm dedicated to
        delivering exceptional results through open communication and a
        collaborative spirit. Let's join forces to turn ideas into reality and
        make magic happen – let's connect and innovate together!
      </p>
    </div>
  </div>
</div>
