.home_content {
  text-align: center;
  //border-top: 1px solid gray;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  height: 100%;
  padding-bottom: 6rem;
  .header {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header_logo {
      max-width: 140px;
      height: fit-content;
      align-self: center;
      padding-bottom: 1.4rem;
    }
    .title {
      padding-bottom: 4rem;
      color: var(--white);
      font-size: 3em;
      font-family: "Nunito", sans-serif;
    }
    .subtitle {
      display: flex;
      justify-content: center;
      .subtitle_txt {
        text-align: center;
        color: var(--white);

        line-height: 2rem;
        @media screen and (min-width: 1600px) {
          width: 40%;
          font-size: 1.8em;
        }
        @media screen and (max-width: 1600px) and (min-width: 800px) {
          width: 60%;
          font-size: 1.8em;
        }
        @media screen and (max-width: 800px) {
          width: 80%;
          font-size: 1.6em;
        }
        font-family: "Nunito", sans-serif;
      }
    }
  }

  .line_break {
    @media screen and (min-width: 1600px) {
      padding-top: 8rem;
    }
    @media screen and (max-width: 1600px) and (min-width: 800px) {
      padding-top: 8rem;
    }
    @media screen and (max-width: 800px) {
      padding-top: 6rem;
    }
    width: 100%;
    display: flex;
    justify-content: center;
    div {
      width: 100px;
      border-radius: 10px;
      border-bottom: 2px solid var(--white);
    }
  }

  .content_primary {
    display: flex;
    height: 100%;
    @media screen and (min-width: 1600px) {
      margin-top: 8rem;
      flex-direction: row;
    }
    @media screen and (max-width: 1600px) and (min-width: 800px) {
      margin-top: 8rem;
      flex-direction: row;
    }
    @media screen and (max-width: 800px) {
      margin-top: 2rem;
      flex-direction: column;
    }
    .content_left {
      @media screen and (min-width: 1600px) {
        width: 61.8%;
      }
      @media screen and (max-width: 1600px) and (min-width: 800px) {
        width: 61.8%;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
      }
      .content_title {
        font-size: 2.2em;
        padding-top: 60px;
        padding-bottom: 2rem;
        color: var(--white);
        font-size: 2.2em;
        font-family: "Nunito", sans-serif;
      }
      .content_text {
        color: var(--white);
        font-family: "Nunito", sans-serif;
        display: flex;
        justify-content: center;
        @media screen and (min-width: 1600px) {
          font-size: 1.4em;
          line-height: 2rem;
          p {
            text-align: start;
            width: 60%;
          }
        }
        @media screen and (max-width: 1600px) and (min-width: 800px) {
          font-size: 1.4em;
          line-height: 2rem;
          p {
            text-align: start;
            width: 80%;
          }
        }
        @media screen and (max-width: 800px) {
          font-size: 1.4em;
          line-height: 1.8rem;
          p {
            text-align: start;
            width: 80%;
          }
        }
      }
    }
    .content_right {
      display: flex;
      @media screen and (min-width: 1600px) {
        width: 38.2%;
        justify-content: flex-start;
      }
      @media screen and (max-width: 1600px) and (min-width: 800px) {
        width: 38.2%;
        justify-content: flex-start;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
        margin-top: 2rem;
        justify-content: center;
      }
      .logo {
        @media screen and (min-width: 1600px) {
          max-width: 340px;
        }
        @media screen and (max-width: 1600px) and (min-width: 800px) {
          max-width: 240px;
        }
        @media screen and (max-width: 800px) {
          max-width: 140px;
        }
        height: fit-content;
        align-self: center;
      }
    }
  }

  .content_accent {
    display: flex;
    height: 100%;
    @media screen and (min-width: 1600px) {
      margin-top: 8rem;
      flex-direction: row;
    }
    @media screen and (max-width: 1600px) and (min-width: 800px) {
      margin-top: 8rem;
      flex-direction: row;
    }
    @media screen and (max-width: 800px) {
      margin-top: 2rem;
      flex-direction: column;
    }
    .content_left {
      display: flex;
      @media screen and (min-width: 1600px) {
        width: 38.2%;
        justify-content: flex-end;
      }
      @media screen and (max-width: 1600px) and (min-width: 800px) {
        width: 38.2%;
        justify-content: flex-end;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
        margin-top: 2rem;
        justify-content: center;
      }
      .logo {
        @media screen and (min-width: 1600px) {
          max-width: 340px;
        }
        @media screen and (max-width: 1600px) and (min-width: 800px) {
          max-width: 240px;
        }
        @media screen and (max-width: 800px) {
          max-width: 140px;
        }
        height: fit-content;
        align-self: center;
      }
    }
    .content_right {
      @media screen and (min-width: 1600px) {
        width: 61.8%;
      }
      @media screen and (max-width: 1600px) and (min-width: 800px) {
        width: 61.8%;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
      }

      .content_title {
        padding-top: 60px;
        padding-bottom: 2rem;
        color: var(--white);
        font-size: 2.2em;
        font-family: "Nunito", sans-serif;
        @media screen and (max-width: 800px) {
          line-height: 2rem;
        }
      }
      .content_text {
        color: var(--white);
        font-family: "Nunito", sans-serif;
        display: flex;
        justify-content: center;
        @media screen and (min-width: 1600px) {
          font-size: 1.4em;
          line-height: 2rem;
          p {
            text-align: start;
            width: 60%;
          }
        }
        @media screen and (max-width: 1600px) and (min-width: 800px) {
          font-size: 1.4em;
          line-height: 2rem;
          p {
            text-align: start;
            width: 80%;
          }
        }
        @media screen and (max-width: 800px) {
          font-size: 1.4em;
          line-height: 1.8rem;
          p {
            text-align: start;
            width: 80%;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6rem;
    .title {
      padding-bottom: 4rem;
      color: var(--white);
      font-size: 3em;
      font-family: "Nunito", sans-serif;
    }
    .footer_logo {
      max-width: 140px;
      height: fit-content;
      align-self: center;
      padding-bottom: 1rem;
    }
    .subtitle {
      display: flex;
      justify-content: center;

      p {
        text-align: center;
        color: var(--white);
        line-height: 2rem;
        font-family: "Nunito", sans-serif;
        @media screen and (min-width: 1600px) {
          width: 60%;
          font-size: 1.6em;
        }
        @media screen and (max-width: 1600px) and (min-width: 800px) {
          width: 60%;
          font-size: 1.6em;
        }
        @media screen and (max-width: 800px) {
          width: 80%;
          font-size: 1.4em;
        }
      }
    }
  }
}
