<div class="container">
  <section class="header_section">
    <section appViewportAnimation class="left_section">
      <header class="home_header">
        <h1 class="nunito-sans-font">Welcome to My Website!</h1>
        <p>
          I'm Kevin O'Keeffe, a Software Engineer specializing in Full Stack
          Development.
        </p>
      </header>
    </section>
    <section appViewportAnimation class="right_section">
      <img class="logo" src="../../assets/images/home-image.jpg" />
    </section>
  </section>
  <ng-container>
    <app-about appViewportAnimation></app-about>
  </ng-container>
</div>
