.container {
  .header_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh);
    .left_section {
      width: 61.8%;
      .home_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        h1 {
          font-size: 5em;
          color: var(--darkBlue);
          margin-bottom: 0.5em;
          font-family: "Nunito", sans-serif;
        }
        p {
          font-size: 1.4em;
          color: #6c757d;
          font-family: "Nunito", sans-serif;
        }
      }
    }
    .right_section {
      width: 38.2%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white);
      .logo {
        max-width: 600px;
      }
    }
  }
  .home_content {
    text-align: center;
    background-color: var(--primary-color);
    .content_top {
      //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 30px;

      .label {
        color: var(--white);
        font-size: 2.6em;
        font-family: "Nunito", sans-serif;
      }
    }

    div {
      display: flex;
      justify-content: center;
      div {
        width: 500px;
        font-size: 1.2em;
      }
    }
  }
}
