.container {
  .header_section {
    display: flex;
    @media screen and (min-width: 1600px) {
      flex-direction: row;
    }
    @media screen and (max-width: 1600px) and (min-width: 800px) {
      flex-direction: row;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
    width: 100%;
    height: calc(100vh);
    .left_section {
      @media screen and (min-width: 1600px) {
        width: 61.8%;
      }
      @media screen and (max-width: 1600px) and (min-width: 800px) {
        width: 61.8%;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 38%;
      }
      .home_header {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1600px) {
          justify-content: center;
          align-items: center;
        }
        @media screen and (max-width: 1600px) and (min-width: 800px) {
          justify-content: center;
          align-items: center;
        }
        @media screen and (max-width: 800px) {
          margin-top: 5rem;
          justify-content: flex-start;
          align-items: center;
        }

        height: 100%;
        text-align: center;
        .title {
          @media screen and (min-width: 1600px) {
            font-size: 5em;
          }
          @media screen and (max-width: 1600px) and (min-width: 800px) {
            font-size: 4em;
            line-height: 4rem;
            width: 80%;
          }
          @media screen and (max-width: 800px) {
            font-size: 3em;
            line-height: 3rem;
          }
          color: var(--darkBlue);
          margin-bottom: 0.5em;
          font-family: "Nunito", sans-serif;
        }
        p {
          @media screen and (min-width: 1600px) {
            font-size: 1.4em;
          }
          @media screen and (max-width: 1600px) and (min-width: 800px) {
            font-size: 1.4em;
            width: 80%;
          }
          @media screen and (max-width: 800px) {
            font-size: 1.4em;
            width: 80%;
          }
          color: var(--gray);
          font-family: "Nunito", sans-serif;
        }
      }
    }
    .right_section {
      display: flex;
      background-color: var(--white);
      @media screen and (min-width: 1600px) {
        width: 38.2%;
        justify-content: flex-start;
        align-items: center;
      }
      @media screen and (max-width: 1600px) and (min-width: 800px) {
        width: 38.2%;
        justify-content: flex-start;
        align-items: center;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        height: 62%;
      }

      .logo {
        @media screen and (min-width: 1600px) {
          max-width: 600px;
        }
        @media screen and (max-width: 1600px) and (min-width: 800px) {
          max-width: 300px;
        }
        @media screen and (max-width: 800px) {
          max-width: 300px;
        }
      }
    }
  }
}
