<div class="container">
  <section class="header_section">
    <section class="left_section">
      <header class="home_header">
        <div class="title">Welcome to My Website!</div>
        <p>
          I'm Kevin O'Keeffe, a Software Engineer specializing in Full Stack
          Development.
        </p>
      </header>
    </section>
    <section class="right_section">
      <img class="logo" src="../../assets/images/home-image.jpg" />
    </section>
  </section>
  <ng-container>
    <app-about appViewportAnimation></app-about>
  </ng-container>
  <ng-container>
    <app-footer></app-footer>
  </ng-container>
</div>
