<div class="container">
  <div class="game">
    <div class="scores">
      <div id="score">000</div>
      <div id="highScore">000</div>
    </div>
    <div class="game-border-1">
      <div class="game-border-2">
        <div class="game-border-3">
          <div id="game-board"></div>
        </div>
      </div>
    </div>
  </div>
  @if(!gameStarted){
  <h1 id="instruction-text">
    <div id="text">Press spacebar to start the game</div>
    <div class="arror-ctr">
      <mat-icon class="material-symbols-outlined icon">
        keyboard_arrow_left
      </mat-icon>
      <mat-icon class="material-symbols-outlined icon">
        keyboard_arrow_up
      </mat-icon>
      <mat-icon class="material-symbols-outlined icon">
        keyboard_arrow_down
      </mat-icon>
      <mat-icon class="material-symbols-outlined icon">
        keyboard_arrow_right
      </mat-icon>
      <span id="arrow-txt">to move</span>
    </div>
  </h1>
  <img
    id="logo"
    src="../../../assets/images/snake-game-ai-gen.png"
    alt="snake-logo"
  />}
</div>
