.register-actions {
  display: flex;
  flex-direction: column;
  .action-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    .action-btn-link {
      text-decoration: underline;
      flex: 0 0 100%;
      font-size: 1.2em;
      font-weight: 400;
      height: 56px;
    }
  }
}
